body {
    font-family: Corbel, Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    margin: 120px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/467690780_1265441291354030_1820954853775520306_n.png?stp=dst-png_s640x640&_nc_cat=100&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeEhShTcG6T8TgvOGr1TX9_vsfYaYOoVoeix9hpg6hWh6Hd1bYNyo6tBgG6u3pqh8AUx6Fl6FtrgGpgzO4eM0T05&_nc_ohc=uJdiRpfn39cQ7kNvgHglyr5&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&oh=03_Q7cD1gHFADzv2g-NHJAKA35xai99KtsYu17kKhmiYyP4s4VEzA&oe=67AE12E9);
}

.header {
    font-family: 'Copperplate Gothic Bold', sans-serif;
    background-color: #c70000;
    color: white;
    outline: 5px solid #c70000;
    padding: 20px;
    font-size: 43px;
    border: 5px solid white;
    margin: 10px auto;
    display: inline-block;
    text-transform: uppercase;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    max-width: 900px;
    margin: 5px auto;
    align-items: center;
}

.tile {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: #e0e0e0;
    border: 2px solid black;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    }

.tile::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 20px;
    background-color: var(--top-color);
    border-bottom: 2px solid black;
}

.tile:hover {
    opacity: 0.9;
}

.hidden {
    display: none;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: left;
}
